@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

.chart-wrapper {
  min-width: 310px; 
  height: 400px; 
  margin: 0 auto;
}

/* iPhone X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
  .chart-wrapper {
    height: 300px; 
  }
}