@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

:root {
    --code-snippet-theme-color: #2A2E37; /* atom dark one */
    --tab-color: #8963ba;
    --bg-color: #F3F5FF;
}

h1 {
  margin-top    : 50px;
  margin-bottom : 25px;
  color         : #2c3e50;
  text-align    : center;
  font-family   : 'Ubuntu', sans-serif;
  font-size     : 40px;
  font-weight   : normal;
}

.animate, .btn, .btn-fill-vert-o:after, .btn-fill-vert-o:before {
  transition : all 0.3s;
}

body, html {
  background  : var(--bg-color);
  font-family : 'Raleway', sans-serif;
}

.chart-vert-padding {
  margin : 0.5vw 0.5vw 1.5vw 0.5vw; /* top left down right*/
}

* {
  box-sizing : border-box;
}

.container-tab {
  margin-top: 3.5em;
  border-radius: 10px;
}

.container-fluid {
  margin : auto 3vw auto;
}

/* Buttons */
.centered {
   text-align: center;
}

.btn {
  display       : inline-block;
  position      : relative;
  margin        : 8px auto 0 auto;
  padding       : 0 15px;
  opacity       : .999;
  border-radius : 3px;
  font-size     : 15px;
  line-height   : 35px;
}

.btn-fill-vert-o {
  color            : #B8B8B8;
  overflow         : hidden;
  border           : 1px solid #d0d0d0;
  background-color : transparent;
}

.btn-fill-vert-o:after,
.btn-fill-vert-o:before {
  z-index  : -1;
  content  : '';
  position : absolute;
  left     : 0;
  width    : 100%;
  height   : 0;
  opacity  : 0;
}

.btn-fill-vert-o:before {
  top : 50%;
}

.btn-fill-vert-o:after {
  bottom : 50%;
}

.btn-fill-vert-o:hover {
  color : #fff;
}

.btn-fill-vert-o:hover:after,
.btn-fill-vert-o:hover:before {
  height  : 50%;
  opacity : 1;
}

.btn-fill-vert-o.btn-green:after,
.btn-fill-vert-o.btn-green:before {
  background-color : #2ecc71;
}

.btn-fill-vert-o.btn-green:hover {
  border-color : #2ecc71;
}

.btn-fill-vert-o.btn-blue:after,
.btn-fill-vert-o.btn-blue:before {
  background-color : #3498db;
}

.btn-fill-vert-o.btn-blue:hover {
  border-color : #3498db;
}

.btn-fill-vert-o.btn-purple:after,
.btn-fill-vert-o.btn-purple:before {
  background-color : #9b59b6;
}

.btn-fill-vert-o.btn-purple:hover {
  border-color : #9b59b6;
}

.btn-fill-vert-o.btn-navy:after,
.btn-fill-vert-o.btn-navy:before {
  background-color : #34495e;
}

.btn-fill-vert-o.btn-navy:hover {
  border-color : #34495e;
}

.btn-fill-vert-o.btn-orange:after,
.btn-fill-vert-o.btn-orange:before {
  background-color : #e67e22;
}

.btn-fill-vert-o.btn-orange:hover {
  border-color : #e67e22;
}

.btn-fill-vert-o.btn-red:after,
.btn-fill-vert-o.btn-red:before {
  background-color : #e74c3c;
}

.btn-fill-vert-o.btn-red:hover {
  border-color : #e74c3c;
}

/* code snippets */

pre {
  display          : block;
  background-color : var(--code-snippet-theme-color);
  border: 2px solid var(--code-snippet-theme-color); /* border for tab codes */
  max-height: 50.5vw; /* set max height */
}

/* jquery tabs */

.tab-group {
  position: relative;
  border: 1px solid #eee;
  margin-top: 1.0em;
}
.tab-code {
  background-color : var(--code-snippet-theme-color);
}
.tab-group section {
  opacity: 0;
  height: 0;
  padding: auto; /* left and right padding */
  overflow: hidden;
  transition: opacity 0.4s ease, height 0.4s ease;
}
.tab-group section.active {
  opacity: 1;
  height: auto;
  border: 2px solid var(--tab-color); /* border for tab content */
  overflow: visible;
}

.tab-nav {
  list-style: none;
  margin: -2.5em -1px 0 0;
  padding: 0;
  height: 2.5em;
  overflow: hidden;
}
.tab-nav li {
  display: inline;
}
.tab-nav li a {
  top: 1px;
  position: relative;
  display: block;
  float: left;
  border-radius: 10px 10px 0 0;
  background: #eee;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
  color: grey;
  margin-top: .5em;
  margin-right: 1px;
  transition: background .2s ease, line-height .2s ease, margin .2s ease;
}
.tab-nav li.active a {
  background: var(--tab-color); /*#6EB590;*/
  color: white;
  line-height: 2.5em;
  margin-top: 0;
}
